 /*ポテパンキャンプロゴ*/
.logo
{ 
display: flex;
width: auto;
height: auto;
min-height: 8px;
margin-left: 10px;
margin-top: 20px;
}

/*ポテパンキャンプロゴ*/
.logo:hover {cursor: pointer;}

/*ナビゲーション*/
.gnav{font-size: 13px;
      margin-top: 10px;
 }


.gnav a{color: black;
text-decoration: none;
font-size: 13px;
}

ul{display: flex;
list-style: none;
}

.gnav li:hover a{color:transparent;
cursor: pointer;}


.gnav li {
  margin-left: 30px;
  
}


/*カウンセリングボタン*/
.counsel-btn{
  display: flex;
  width: 160px;
  height: 40px;
  background: orange; 
  color: white;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
    text-decoration: none;
    margin-top: 20px;
  }


/*カウンセリングボタン*/
.counsel-btn:hover {cursor: pointer;
background-color: aliceblue;
}


.logo {position: absolute;}
/*ナビゲーション＋カウンセリングボタン*/
@media only screen and (min-width: 1025px) and (max-width: 1145141919810px)
{
.navarea{ position: relative;
left: 700px;
top: -64px;
z-index: 1998;
gap: 15px;
display: flex;
}
}

/*メインビジュアル*/
.mainvisual {
max-width: none;
padding-left: 36px;
padding-right: 36px;
padding-top: 219px;
margin-left: auto;
margin-top: 1px;
margin-right: auto;
display: block;
position: relative;
}


/*メインビジュアルタイトル*/
.write{font-size: 42px;
   z-index: 1000;
}

/*メインビジュアルカウンセリングボタン*/
.mmbtn{
  align-items: center;
    background-color: orange;
    border: none;
    border-radius: 38px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font: size 20px;;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 30%;
    margin-bottom:auto;
}

/*ショッパーズアイインターネット*/
.hosoku{font-size: 12px;
    line-height: 16px;
}

/*160000で受講可能*/

.jk {
    cursor: pointer;
    display: block;
      max-width: 375px;
    min-height: 1px;
    position: fixed;
    bottom: 0;
    }

.logo {position: relative;
z-index: 10;
}
  /* メインビジュアル（うんこ）全体 */
.うんこbro {
 background-color: white;
 z-index: 810;
 position: relative;
 background-color: #7c7878;
}

.うんこ1 {
position: absolute;
left: 0px;
top: -40px;
max-width: 300px;
 }

 .うんこ2{
  position: absolute;
  left: -80px;
  top: 10px;
  max-width: 1300px;
}
.うんこ3{
  position: absolute;
  top: -40px;
  right: 10px;
  width: 800px;
}

.うんこ4{
    position: absolute;
    top: 350px;
    right: 0px;
    width: 250px;
    height: 250px;
    max-width: 600px;
}

/* メインビジュアルタイトル */
.write {
  position: absolute;
  bottom: 30%;
  left: 18%;
  font-size: 3vw; 
  line-height: 1.2;
  margin-bottom: 16px;
}

/* Webエンジニア輩出 NO.1 */
.WN1 {
  position: absolute;
  bottom: 36%;
  left: 50%;
  font-size: 1.2vw;
  width: 150px;
  z-index: 1919;
}

/* まずは無料カウンセリングへ　ボタン */
.mmbtn {
  position: absolute;
  bottom: 20%;
  left: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border: none;
  border-radius: 38px;
  color: white;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 700;
  height: 64px;
  text-decoration: none;
  text-align: center;
  width: 32%;
  min-width: 180px;
  max-width: 500px;
}

/* 無料カウンセリングボタン */
.mmbtn:hover {cursor: pointer;}


/* ショッパーズアイインターネット */
.hosoku {
  position: absolute;
  bottom: 10%;
  left: 17%;
  font-size: 0.7vw;
   max-width: 500px;
  color: black;}
@media only screen and (min-width: 1025px) and (max-width: 1145141919810px)
{
  .hamburger{
    margin-right: 20px;
  }

.hamburger {
visibility: hidden;
display: none;
}
}



/* 画面を小さくしたとき */

@media only screen and (min-width: 601px) and (max-width: 1024px)
{
.logo{
  width: 10%;
  margin-top: 5%;
}

.counsel-btn {
  display: inline-block; 
  width: 30px;           
  padding: 12px 24px;   
  border-radius: 30px;
  background-color: orange;
  color: #fff;
  text-align: center;
  position: relative;
}


/*ナビエリア*/
.navarea {
  display: flex;
 flex-direction: row;
  right: 20px;
  bottom: 20px;
 
}

/*ナビゲーション*/
.gnav ul{ flex-direction: column; }

.navarea{
  flex-direction: row;
  position: fixed;
  right: -100%;
  transition: all 0.5s;
  z-index: 9999;
}

.ichi, .hana, .satoh, .tsuki, .tachi{
  color: #ffffff;
  font-size: 16px;
}

.kokoro, .sumi, .koha, .yura, .anna{
  color: orange;
  font-size: 12px;
  margin-top: 5px;
}
.hamburger {
display: block;
position: fixed;
top: 20px;
right: 5%;
border: none;
outline: none;
appearance: none; 
cursor: pointer;
}

.hamburger span{
  display: block;
  height: 3px;
  width: 40px;
margin-top: 10px;
margin-right: 10px;
background-color: gray;
transition: all 0.5s;
top: 5%;
right: 20px;
}

#mask{
  text-align: center;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 9998;
  cursor: pointer;
}
.logo{position: relative;}
.open #mask{

  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.5);
  z-index: 9991;
  transition: all 0.5s;
}

/* ハンバーガーメニュー展開時のメニュー背景 */
.open .navarea {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;             
  height: 100vh;          
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 99999;
  cursor: pointer;
}

/* 無料カウンセリングボタン */
.open .navarea .counsel-btn
 {
  width: auto;             
  height: auto;           
  padding: 10px 25px;     
  border-radius: 30px;
  background-color: orange;
  color: white;
  font-size: 16px;
  text-align: center;
  display: inline-block;  
}
.open .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.open .hamburger span:nth-child(2) {
  opacity: 0;
}

.open .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}

  .logo{
    width: 15%;
    height: 10px;
  margin-top: 5px;
  }

  .うんこbro{ position: relative;
    z-index: 810;
}

.うんこ1{
    position: absolute;
    top: 60px;
    left: 0px;
  cursor: pointer;
  max-width: 320px;
}
.うんこ2{
    position: absolute;
    top: 80px;
   left: -40px;
    width: 80%;
    height: auto;
   

}
.うんこ3{
    position: absolute;
    top: 70px;
   left: -10px;
    width: 100%;
    right: -5%;
    height: auto;
}

.うんこ4{
   position: absolute ;
   left: 60%;
   bottom: 60px;
   width: 300px;
   height: 300px;}

.mainvisual {
    height: 60vh;
  }


  .write {
    font-size: 5.2vw;
    top: 39%;
    left: 5%;
  }

  .mmbtn {
    width: 58%;;
    left: 7%;
    font-size: 2.2vw;
    bottom: 25%;
    z-index: 1919;
  }

  .hosoku {
    font-size: 1vw;
    left: 7%;
    bottom: 17%;
    z-index: 1919;
  }

 .WN1 {
    font-size: 3vw;
    width: 25%;
    left: 60%;
    top: 32%;
  } 
.jk{
    z-index: 1999;
  }
}



/*スマホ*/ 

@media  screen and (max-width: 600px) 
{
.うんこbro{ position: relative;
}
  .logo{
    width: 40%;
    height: 40px;
  position: static;
  margin-top: 10px;
  }

  .logo img{
    width: 100%;
    height: auto;
  }
.counsel-btn {
  display: inline-block; 
  width: 30px;           
  padding: 12px 24px;   
  border-radius: 30px;
  background-color: orange;
  color: #fff;
  text-align: center;
}


/*ナビエリア*/
.navarea {
 position: relative;
 flex-direction: row;
  right: 20px;
  bottom: 20px;
 
}

/*ナビゲーション*/
.gnav ul{ flex-direction: column; }

.navarea{
  flex-direction: row;
  position: fixed;
  right: -100%;
  transition: all 0.5s;
  z-index: 9999;
}

.ichi, .hana, .satoh, .tsuki, .tachi{
  color: white;
  font-size: 16px;
}

.kokoro, .sumi, .koha, .yura, .anna{
  color: orange;
  font-size: 12px;
  margin-top: 5px;
}
.hamburger {
display: block;
position: fixed;
border: none;
outline: none;
appearance: none; 
cursor: pointer;
display: block;
top: 1%;
right: 30px;
}

.hamburger span{
  display: block;
  height: 1.5px;
  width: 20px;
margin-top: 5px;
background-color: gray;
transition: all 0.5s;
}

#mask{
  text-align: center;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 99;
  cursor: pointer;
}
.logo{position: relative;}
.open .navarea{
  position: absolute;
  top: 120px;
  right: 450px;
  height: 150%;
  width: 50px;
  z-index: 9334;
}
.open #mask{

  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.5);
  z-index: 9998;
  transition: all 0.5s;
}

/* ハンバーガーメニュー展開時のメニュー背景 */
.open .navarea {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;             
  height: 100vh;          
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 無料カウンセリングボタン */
.open .navarea .counsel-btn
 {
  width: auto;             
  height: auto;           
  padding: 10px 25px;     
  border-radius: 30px;
  background-color: orange;
  color: white;
  font-size: 16px;
  text-align: center;
  display: inline-block;  
}
.open .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.open .hamburger span:nth-child(2) {
  opacity: 0;
}

.open .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}

.mainvisual {
    height: 60vh;
  }


  .write {
    font-size: 6vw;
    top: 32%;
    left: 5%;
  }

  .mmbtn {
    width: 86%;
    left: 7%;
    top: 47%;
    font-size: 4vw;
   height: 55px;
  }
  .hosoku {
    font-size: 3.0vw;
    left: 2%;
    top: 54%;
    cursor: pointer;
  }
  

 .WN1 {
    font-size: 3vw;
    width: 25%;
    left: 68%;
    top: 32%;

  } 

.うんこbro{ position: relative;
    z-index: 810;
}

.うんこ1 {
  position: absolute;
  top: 2.7%;
  left: -10%;
  width: 170px;
  height: auto;
}

.うんこ3{
  width: 70%;
  right: 0%;
  top: 2.5%;
}
.うんこ4{
    display: none;
}

 .うんこ2{
    position: absolute;
    width: 55%;
   left: 10%;
    top: 3%;
}
.jk{
  display: none;
}


}
